<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ffc6eb7467.js" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

    <!-- my styles -->
    <link rel="stylesheet" href="/styles/register.css">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><i class="fas fa-lg fa-money-bill-wave"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav w-100">
            <li class="nav-item ml-auto">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="sign-in-link nav-item active">
              <a id="sign-in" class="nav-link" href="/login">Sign In</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="budgeting-row row">
          <div class="budgeting-header-container col-lg-8">
            <h1 class="budgeting-header">Bugeting App</h1>
            <hr class="header-hr">
            <p class="budgeting-lead">
              A simple finances app that allows you to add, query, and describe expenses.
              Built with HTML/CSS/JS, MongoDB, and Node.js. Currently working on allowing for
              user-defined income and expense lists.
            </p>
          </div>
          <div class="col-lg-4">
            <div class="sign-up-container">
              <h1 class="sign-up-header">Sign Up</h1>
              <div class="sign-up-form-container">
                <form class="sign-up-form" action="/register" method="post">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" minlength="8" autocomplete="off">
                    <div class="password-desc">
                      <p class="">Minimum length of 8 characters.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                  </div>
                </form>
              </div>
              <p class="desc">Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
          </div>
        </div>
      </div>


      <section class="footer">
        <p>&copy Megan Nelson 2020 | <a href="/contact">Contact</a> | <a href="/login">Login</a></p>
      </section>

  </body>
</html>
