body {
  background-color: #ddf1ff;
  color: #4b545b;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "AbeeZee";
}

/**** FINANCE ADD/SEARCH SECTION *****/

.container-fluid {
  padding: 4% 10%;
}

.filter-form, .amount-form {
  text-align: right;
}

.amount-form input, .amount-form select, .filter-form input, .filter-form select{
  width: 100%;
  height: 100%;
}

.index-hr {
  border: 3px solid black;
}

.index-button-container {
  text-align: right;
}

.display-form {
  text-align: right;
}

/**** INCOME & EXPENSE SECTION *****/

.amount-header, .filter-header {
  text-align: left;
  margin-left: 22%;
}

.form-section {
  padding-top: 2%;
  padding-bottom: 2%;
}

.current-query-form {
  display: inline-block;
  margin-right: 2%;
}

.remove-query-button {
  border: none;
  border-radius: 20px;
  outline: none;
}

.remove-query-icon {
  margin-left: 10px;
  opacity: 0.5;
}

/***** INCOME LIST SECTION ******/

/***** EXPENSE LIST SECTION ******/


/* animation */

.button-slide-out {
  display: inline-block;
  animation: slide-out-animation 1s forwards;
}

@keyframes slide-out-animation {

  from {

    transform: translateX(calc(-50%));
  }

  to {
    transform: translateX(calc(-100%));
  }


}
