body {
  background-color: #ff9595;
}

.container-fluid {
  padding: 4% 10%;
}

.header-section {
  text-align: center;
}

.amount-add {
  display: block;
}

form {
  font-size: 0;
}

form input, select {
  margin: 0;
  padding: .5%;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

form input:focus, select:focus {
  border: none;
  outline: none;
}

form input[type="date"] {

}

form input[name="newAmount"] {

}

form input[name="newDescription"] {
}

form input[type="type"] {
}

.add-amount {
  margin: 0;

}

.submit-amount, .delete-item {
  font-size: 1rem;

}

.submit-amount {
  width: 100%;
  height: 100%;
  outline: none;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.money-section form {
  display: inline-block;
}

.income-section {
  padding-right: 2%;
}

.income-section form, .expense-section form {
  margin: 0;
  width: 100%;
}

.delete-item {
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  display: none;
}

.money-section {
  padding-top: 5%;
}


div[class^="col-lg"], div[class^="col-"] {
  /* border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray; */
  width: 100%;
  padding: 0%;
}

div[class^="amount-"] {
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 5px;

}

.amount-date {
  text-align: center;
}

.amount-amount {
}

.amount-description {

}

.amount-type {

}

.income:hover .delete-item, .expense:hover .delete-item {
  display: inline-block;
  animation: slide-out-animation 1s forwards;
}

/* animation */

.button-slide-out {
  display: inline-block;
  animation: slide-out-animation 1s forwards;
}

@keyframes slide-out-animation {

  from {

    transform: translateX(calc(-50%));
  }

  to {
    transform: translateX(calc(-100%));
  }


}
