body {

  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "AbeeZee";
}

.show-form {
  display: none;
}

/**** NAVBAR *******/

.navbar-light {

}

.change-theme-button {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 10px;
}

.display-form-light {
  background-color: white;
  color: black;
}

.display-form:focus, #display-form:focus {
  outline: none;
}

/******FORM DISPLAY*****/

.form-section[data-toggle="open"] {
  display: block;
}

.form-section[data-toggle="closed"] {
  display: none;
}

.current-query-container[data-toggle="open"] {
  display: block;
}

.current-query-container[data-toggle="closed"] {
  display: none;
}

/**** LIGHT ****/

body[data-state="light"] {
  background-color: #ebfaff;
  color: black;
}

#logo-icon[data-state="light"] {
  color: black;
}

.navbar-light .nav .nav-link[data-state="light"] {
  color: black;
}

.navbar-light[data-state="light"] {
  background-color: #ebfaff !important;
}

.change-theme-button:hover[data-state="light"], .change-theme-button:focus[data-state="light"] {
  background-color: #ebfaff;
  outline: none;
  color: gray;
}

.change-theme-button[data-state="light"] {
  background-color: #ebfaff;
  border: 0;
  color: black;
}

.close-forms[data-state="light"] {
  background-color: #ebfaff;
  color: black;
}

.index-hr[data-state="light"] {
  border: 2px solid gray;
}

.income-total[data-state="light"] {
  color: #40a3ff;
}

.expense-total[data-state="light"] {
  color: #ff5e5e;
}

.form-section input[data-state="light"], .form-section select[data-state="light"] {
  background-color: white;
  border: 1px solid #cadbe0;
}

.amount-container[data-state="light"] {
  background-color: white;
  border-left: 1px solid #cadbe0;
  border-right: 1px solid #cadbe0;
  border-top: 2px solid #cadbe0;
  border-bottom: 2px solid #cadbe0;
}

/**** DARK ****/

body[data-state="dark"] {
  background-color: #363636;
  color: white;
}

#logo-icon[data-state="light"] {
  color: black;
}

.navbar-light .nav .nav-link[data-state="dark"] {
  color: white;
}

.navbar-light[data-state="dark"] {
  background-color: #363636 !important;
}

.change-theme-button:hover[data-state="dark"], .change-theme-button:focus[data-state="dark"] {
  outline: none;
  background-color: #363636;
}

.change-theme-button[data-state="dark"] {
  background-color: #363636;
  border: 0;
  color: gray;
}

.close-forms[data-state="dark"] {
  background-color: #363636;
  color: white;
}

.index-hr[data-state="dark"] {
  border: 2px solid #757575;
}

.income-total[data-state="dark"]  {
  color: #99d8d0;
}

.expense-total[data-state="dark"] {
 color: #ff5e5e;
}

.form-section input[data-state="dark"], .form-section select[data-state="dark"] {
  background-color: #7d7d7d;
  color: white;
  border: 1px solid #3d3d3d;
}


.amount-container[data-state="dark"] {
  background-color: #7d7d7d;
  border-left: 2px solid #575656;
  border-top: 1px solid #575656;
}


/**** FINANCE ADD/SEARCH SECTION *****/

.container-fluid {
  padding: 4% 10%;
}

.filter-form, .amount-form {
  text-align: right;
}

.filter-item, .amount-item {
  margin-bottom: 5px;
}

.amount-form input, .amount-form select, .filter-form input, .filter-form select{
  width: 100%;
  height: 100%;
}

.current-query-container {
  margin-top: 1%;
}

.index-button-container {
  text-align: right;
}

.close-forms {
  text-align: right;
  font-size: 1.5rem;
  border: 0;
}

.close-forms:focus {
  outline: none;
}

.filter-amount, .add-amount {
  border-radius: 50%;
  background-color: #99d8d0;
  color: #363636;
}

.filter-amount:hover, .add-amount:hover {
  background-color: #5ed6c7;
}

.add-amount-section, .filter-amount-section {
  margin-top: 2%;
}


/**** INCOME & EXPENSE SECTION *****/

.amount-section {
  padding-left: 2%;
}

.amount-section .amount {
  margin-bottom: 5px;
}

.amounts-header {
  text-align: left;
}

.dollar {
  padding-right: 10px;
}

.amount-header, .filter-header {
  text-align: left;
  margin-left: 22%;
}

.amount-container {
  width: 100%;
  padding: .5%;
}

.amount-amount {
  padding-left: 5%;
}


.amount-container, .amount-button-container {
  height: 35px;
}

.amount-date {
  text-align: center;
}

 .amount-date .amount-description {
  border-right: 0;
}

.amount-button-container {
  position: relative;
}

.income-total, .expense-total {
  font-size: 1.5rem;
}

.amount-section-header-row .col-8{
  text-align: left;
  padding: 0;
}

.amount-section-header-row .col-3 {
  text-align: right;
}

.delete-item-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.delete-item-form button {
  display: none;
  border: none;
  height: 35px;
  background-color: #ff9191;
  color: white;
  border-radius: 0;
  width: 100%;
}

.delete-item-form button:hover {
  outline: none;
  background-color: #ff5e5e;
}

.amount-button-container {
  border-left: 1px solid #7d7d7d;
  width: 100%;
}


.amount-section-header-row div.col-12{
  padding: 0 0 0 .5%;
}

.form-section {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-section input, .form-section select {
  border-radius: 0;
  border: 0;
  padding-left: 5px;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

.form-section input:focus, .form-section select:focus {
  border-radius: 0;
  border: 2px solid #99d8d0;
  outline: none;
}

.form-section .sort-select {
  border-bottom: 2px solid #7d7d7d;
}

.form-section .type-select {
  border-top: 2px solid #7d7d7d;
}

.form-section .amount-descriptor {
  border-bottom: 2px solid #7d7d7d;
}

.current-search-header {

}

.current-query-form {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 25px;
}

.remove-query-button {
  border: none;
  border-radius: 20px;
  outline: none;
  color: #363636;
  background-color: #ffc061;
}

.remove-query-button:hover {
  background-color: #fcae38;
}

.remove-query-icon {
  margin-left: 10px;
  opacity: 0.5;
}

.sort-type-text {
  text-transform: capitalize;
}

/***** INCOME LIST SECTION ******/

.income-header-row {
  padding-left: 1%;
}

.income-header-row .col-8 {
  text-align: left;
}

.income-header-row .col-3 {
  text-align: right;
}

/***** EXPENSE LIST SECTION ******/

.expense-header-row {
  padding-left: 1%;
}

.expense-header-row .col-8 {
  text-align: left;
}

.expense-header-row .col-3 {
  text-align: right;
}

/* animation */

.amount:hover .delete-item-form button {
  display: inline-block;
  animation: slide-out-animation 1s forwards;
}

@keyframes slide-out-animation {

  from {

    transform: translateX(calc(-50%));
  }

  to {
    transform: translateX(calc(-100%));
  }


}

/**** RESPONSIVE ******/

@media (max-width: 991px) {

  .amount-section {
    margin-left: 5%;
    margin-bottom: 7%;
  }

  .income-only-section .amount-section, .expense-only-section .amount-section {
    margin-left: 2%;
  }

  .amount:hover .delete-item-form button {
    display: inline-block;
    animation: none;
  }

  .delete-item-form button {
    display: block;
    animation: none;
  }

  .amount-form {
    margin-bottom: 7%;
  }

  .amount-item .col-lg-2, .filter-item .col-lg-2 {
    padding: 0;
  }

  .nav-list-container {
    margin-right: 10%;
  }

}

@media (max-width: 600px) {

  h3 {
    font-size: 1.5rem;
  }

  .income-total, .expense-total {
    font-size: 1.5rem;
  }

  .change-theme-button {
    top: 10px;
    font-size: 1.25rem;
  }

  label {
    font-size: .8rem;
  }

  .filter-amount, .add-amount {
    margin-right: 10%;
  }




}

@media (max-width: 768px) {
  .amount {
    position: relative;
  }

  .amount-button-container {
    position: absolute;
    top: 50%;
    right: 0;
  }

  div.amount-container.col-12 {
    border-top: none;
  }

  .amount-header, .filter-header {
    position: relative;
    top: 10px;
    font-size: 1.15rem;
    margin-bottom: 5%;
  }

  .filter-submit-container, .amount-submit-container {
    position: relative;

  }

  .filter-submit-container button, .amount-submit-container button {
    position: absolute;
    top: -5px;
    right: 0;
    transform: scale(.7);
  }

}

@media (max-width: 400px) {




  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

}
